<div class="row">

    
<ul>
{{#each names}} <a href="/counter/{{this.name}}">
 <li>  {{this.name}}</li>

 
 </a> {{/each}}
 <br>
 <br>

 <input type="button" value="Back" onclick="history.back()">

</ul>
</div>

