 <link rel="stylesheet" href="/public/CSS/style.css">

<br>
<br>

<div class="greeted">

    
<ul>
{{#each names}} <a href="/counter/{{this.name}}">
 <li>  {{this.name}}</li>

 
 </a> {{/each}}
 <br>
 <br>



</ul>
 <input type="button" value="Back" onclick="history.back()">
</div>

