<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton-framework/1.1.1/skeleton.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="/public/CSS/style.css">

</head>

<body>
    <div class="container">

        <div class="row">
            <div class="twelve columns box">
                <h1>Greetings</h1>
                <br>
                <br>
                <div class="row">

                    <form action="/" method="POST">

                        <div class="">

                            <div class="center">
                                <h5>Name</h5>
                                <input class=" nameInserted" name="name" placeholder="eg. Yongama">
                            </div>
                            <br>
                            <br>
                            <form>


                                <div>

                                    <input type="radio" name="language" value="IsiXhosa">
                                    IsiXhosa
                                    <input type="radio" name="language" value="English"> English
                                    <input type="radio" name="language" value="Afrikaans">
                                    Afrikaans

                                </div>
                                <br>
                                <br>

                                <button class="button-primary addNameBtn" type="submit" name="button">Greet
                                    Me</button>
                                <br>
                                <br>



                        </div>

                    </form>

                    {{!-- <a href="/clear"> <button class="button-clear data" type="button" name="button">Clear</button></a> --}}

                </div>

                <div>

                    <a href="/reset">

                        <button class="button-reset data" type="button" name="button"> Reset

                        </button>

                    </a>

                </div>

                <div class="message">

                    {{message}}
                </div>

                <a href="/greeted"> Names Greeted </a>


            </div>

        </div>



    </div>
    <div id="counter">
        <div class="NumberCounter"> {{counter}} </div>

    </div>

</body>

</html>